<div>
    <ul style="float:left;padding:0px;">
        <li style="position: relative;display: block;">
            <a href="#" class="btn btn-defualt btn-xs"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a>
        </li>
    </ul>
    <ul style="float:right;padding:0px;">
        <li style="position: relative;display: block;float:left;">
            <a href="#" class="btn btn-defualt btn-xs"><i class="fa fa-cog fa-2x" aria-hidden="true"></i></a>
        </li>

        <li style="position:relative;display: block;float:left">
            <a href="#" class="btn btn-defualt btn-xs"><i class="fa fa-times fa-2x" aria-hidden="true"></i></a>
        </li>
    </ul>
</div>

<div style="margin-top:50px;min-height:100px;">
    <i class="fa fa-user-circle fa-3x" aria-hidden="true"></i>로그인 해주세요
</div>

<ul class="list-group">
  <li class="list-group-item"><i class="fa fa-user" aria-hidden="true"></i> 내 프로필</li>
  <li class="list-group-item"><i class="fa fa-shopping-bag" aria-hidden="true"></i> 스토어</li>
  <li class="list-group-item"><i class="fa fa-info-circle" aria-hidden="true"></i> 공지사항</li>
  <li class="list-group-item"><i class="fa fa-phone-square" aria-hidden="true"></i> 문의하기</li>
</ul>
