<div class="party-card-header" style="position:relative;float:left;width:100%">
    <div class="card-photo" style="float:left;">
        <img src="img/profile_dummy_small.png" alt="" />
    </div>
    <div style="float:right;">
        <strong>04/15 금요일 07:30 PM</strong>
    </div>
</div>
<div class="party-card-header" style="position:relative;float:left;width:100%;margin-top:10px;">
    <div class="card-photo" style="float:left;">
        <strong>프렌치 스타일 브런치 먹기</strong>
    </div>
    <div style="float:right;">
        <strong><i class="fa fa-share-alt-square fa-2x" aria-hidden="true"></i></strong>
    </div>
</div>
<div class="">
    <textarea>요즘 날씨도 좋고, 맛난게 한참 땡기는 시기네요. 서래마을에서 아무개 쉐프가 하는 프랑스 정통 브런치를 먹으려 합니다. 남여 혼성으로 모임을 하려하오니 편하게 참석 버튼 눌러주세요. 모임에서 볼게요</textarea>
</div>
