<!-- <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">FS2</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">모임</a></li>
        <li><a href="#about">이야기</a></li>
        <li><a href="#contact">Now</a></li>
        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
        <li><a href="#about"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      </ul>
    </div>
  </div>
</nav> -->

<nav class="navbar navbar-inverse navbar-fixed-top" style="min-height: 40px;background-color:none;">
  <div class="container">
    <div class="navbar-header">
      <!-- <a class="navbar-brand" href="#">FS2</a> -->
      <ul class="nav navbar-nav" style="float: left;margin:0px;">
        <li class="active" style="float: left;"><a href="#">모임</a></li>
        <li style="float: left;"><a href="#about">이야기</a></li>
        <li style="float: left;"><a href="#contact">Now</a></li>
        <li style="float: left;"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
        <li style="float: left;"><a href="#about"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      </ul>
    </div>
    <!-- <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">모임</a></li>
        <li><a href="#about">이야기</a></li>
        <li><a href="#contact">Now</a></li>
        <li><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></li>
        <li><a href="#about"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
      </ul>
    </div> -->
  </div>
</nav>
