.r2-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;

    overflow-x: hidden;
    overflow-y: auto;
    overflow: hidden;
}

.r2-dialog-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000;
    opacity: .5;
}

.r2-dialog-main {
    position: relative;
}

@media (min-width: 768px) {
    .r2-dialog-main {
        width: 600px;
        margin: 30px auto;
    }
}
